/** {*/
/*  font-family: Helvetica, Arial, sans-serif;*/
/*  !*background-color: rgb(234, 234, 234);*!*/
/*}*/

html,
body {
  background-color: #242424;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  font-style: normal;
  text-align: center;
}

.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 0%;  
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {
  background-color: white;
  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}

.previous-searches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.previous-searches-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  max-width: 400px;
}

.previous-searches-list li {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: #000;
  margin-bottom: 20px;
}

.previous-searches-list li:hover {
  background-color: #333;
  transition: background-color 0.3s ease;
}

.montserrat-light {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-style: normal;
}
